h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: white;
  }
.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;

    &--main { 
        display: block;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 2.5rem;
        animation: moveInLeft 0.7s ease-out;
        text-align: left;
        @include respond(phone) {
            letter-spacing: 1rem;
            font-family: 5rem;
        }
    }
    
    &--sub {
        display: hidden !important;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 1.54rem;
        animation: moveInRight 1s ease-out;
        color: $color-primary-dark;

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}