body {
  background-color: #e9edf1;
}

.layout-header .logo {
  display: block;
  width: 200px;
  height: 64px;
  float: left;
  text-align: center;
  overflow: hidden;
}

.layout-header .logo img {
  filter: invert(100%);
  position: relative;
  top: -25px;
  left: -25px;
}

.layout-content {
  padding: 100px 0 50px;
}

.layout-center {
  margin: 0 auto;
  min-width: 800px;
  max-width: 1200px;
}

.ant-layout-footer {
  background-color: #e9edf1;
}

.ant-card-bordered {
  border: 1px solid #d9e0d6;
}

.ant-card {
  background: transparent;
}
