@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

$color-primary-light: #7ed56f; // Light green:
$color-primary: #55c57a; // Medium green
$color-primary-dark: #28b485; // Dark green
$color-white: #fff;
$color-black: #000;
$color-grey: #777;
$color-font: #001529;
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey;
  padding: 3rem;
  box-sizing: border-box;
  background-color: white;
}
.ant-layout {
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.74), rgba($color-primary-dark, 0.9));
    height: calc(100vh - 6rem);
}
.ant-layout-header {
    z-index: 1010;
    background: rgba($color-primary-light, 0); 
    border-radius: 5px 5px 0 0;
    .layout-header {
        .logo {
            display: block;
            width: 250px;
            height: 64px;
            float: left;
            text-align: left;
            overflow: hidden;
            background-image: url(../public/AkvoLogo.svg);
            background-repeat:no-repeat;
            background-position: center left;
            background-size: 70%;
            text-indent: -9999px;
            img {
                filter: invert(100%);
                position: relative;
                top: -25px;
                left: -25px;
              }
            h1 {
                color:$color-font;
                font-weight: bolder;
            }      
        }
    }
}
.ant-layout-content {
}
.ant-menu {
    &.ant-menu-dark{
        background: transparent;
        .ant-menu-item {
          padding:0;
            a {
                color: white;
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: 300;
                transition: all 0.3s ease-in;
                padding: 1rem 2rem;
                &::after {
                  content: "";
                  display: inline-block;
                  height: 100%;
                  width: 100%;
                  border-radius: 10rem;
                  position: absolute;
                  top: 0;
                  left: 0;
                  z-index: -1;
                  transition: all 0.4s ease;
              }
                &:hover {
                  font-weight: 500;
                  color: $color-font;
                  border: 1px solid $color-font;
                }
            }
        }
    }

}
.layout-content {
  padding: 100px 0 50px;
}

.layout-center {
  margin: 0 auto;
/*   min-width: 800px;
  max-width: 1200px; */
}


.ant-layout-footer {
    background: rgba($color-primary-light, 0.2); 
    border-radius: 0 0 5px 5px;
}

.card {
  background-color: white;
  padding: 0.5em;
  margin-bottom: 1em;
}
.statistic {
  text-align: center;
}
.statistic-number {
  font-size: 2.5em;
}

.leaflet-control.info {
  padding: 8px 10px;
  font-size: 1.2em;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.leaflet-control.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.leaflet-control.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.leaflet-control.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.leaflet-control.legend .circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 0.35em;
}

.swr-loader {
  text-align: center;
  margin: 20px 0;
  padding: 30px 50px;
}
