@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.1s ease-in-out; }
  .grayscale:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0); }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 75%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  padding: 2rem;
  box-sizing: border-box;
  background-color: white; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: white;
  text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  text-align: center; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation: moveInLeft 0.7s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1.54rem;
    animation: moveInRight 1s ease-out;
    color: #28b485; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.paragraph {
  font-size: 1.4rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.container {
  padding-bottom: 2rem; }
  .container .ant-layout {
    border-radius: .5rem .5rem 0 0;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.74), rgba(40, 180, 133, 0.9)); }
    .container .ant-layout .ant-layout-header {
      z-index: 1010;
      background: rgba(126, 213, 111, 0);
      border-radius: .5rem .5rem 0 0;
      border-top: 0.2rem solid #7ed56f;
      height: inherit;
      margin: 0 0 2rem 0; }
      .container .ant-layout .ant-layout-header .layout-header {
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3); }
        .container .ant-layout .ant-layout-header .layout-header .ant-menu.ant-menu-dark {
          background: transparent; }
          .container .ant-layout .ant-layout-header .layout-header .ant-menu.ant-menu-dark .ant-menu-item-selected {
            background: rgba(255, 255, 255, 0.3); }
            .container .ant-layout .ant-layout-header .layout-header .ant-menu.ant-menu-dark .ant-menu-item-selected a {
              color: #28b485 !important;
              border: 1px solid transparent !important; }
              .container .ant-layout .ant-layout-header .layout-header .ant-menu.ant-menu-dark .ant-menu-item-selected a:hover {
                color: #28b485 !important;
                border: 1px solid transparent !important; }
          .container .ant-layout .ant-layout-header .layout-header .ant-menu.ant-menu-dark .ant-menu-item {
            padding: 0; }
            .container .ant-layout .ant-layout-header .layout-header .ant-menu.ant-menu-dark .ant-menu-item a {
              color: #001529;
              text-transform: uppercase;
              font-size: 1.5rem;
              font-weight: 300;
              transition: all 0.3s ease-in;
              padding: 1rem 2rem;
              border: 1px solid transparent; }
              .container .ant-layout .ant-layout-header .layout-header .ant-menu.ant-menu-dark .ant-menu-item a::after {
                content: "";
                display: inline-block;
                height: 100%;
                width: 100%;
                border-radius: 10rem;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all 0.4s ease; }
              .container .ant-layout .ant-layout-header .layout-header .ant-menu.ant-menu-dark .ant-menu-item a:hover {
                color: white;
                border: 1px solid transparent;
                font-weight: 300; }
        .container .ant-layout .ant-layout-header .layout-header .logo {
          display: block;
          width: 25rem;
          height: 5.4rem;
          float: left;
          text-align: left;
          overflow: hidden;
          background-image: url(../public/AkvoLogo.svg);
          background-repeat: no-repeat;
          background-position: center left;
          background-size: 70%;
          text-indent: -9999px; }
          .container .ant-layout .ant-layout-header .layout-header .logo img {
            filter: invert(100%);
            position: relative;
            top: -2.5rem;
            left: -2.5rem; }
          .container .ant-layout .ant-layout-header .layout-header .logo h1 {
            color: #001529;
            font-weight: bolder; }
    .container .ant-layout .ant-layout-content .layout-content.layout-center {
      margin: 0 auto; }
    .container .ant-layout .ant-layout-content .layout-content .ant-row {
      text-align: center; }
      .container .ant-layout .ant-layout-content .layout-content .ant-row .centered {
        text-align: center;
        width: 100%; }
      .container .ant-layout .ant-layout-content .layout-content .ant-row.dataLight {
        background: white;
        padding-bottom: 0;
        border-right: 1px solid rgba(126, 213, 111, 0.74);
        border-left: 1px solid rgba(126, 213, 111, 0.74); }
        .container .ant-layout .ant-layout-content .layout-content .ant-row.dataLight h1, .container .ant-layout .ant-layout-content .layout-content .ant-row.dataLight h2, .container .ant-layout .ant-layout-content .layout-content .ant-row.dataLight h3, .container .ant-layout .ant-layout-content .layout-content .ant-row.dataLight h4, .container .ant-layout .ant-layout-content .layout-content .ant-row.dataLight h5, .container .ant-layout .ant-layout-content .layout-content .ant-row.dataLight h6 {
          color: #28b485; }
      .container .ant-layout .ant-layout-content .layout-content .ant-row:not(:first-child) {
        padding: 4rem 0; }

.dataSample table.sampleTable {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  background: rgba(0, 21, 41, 0.1);
  box-shadow: 5px 5px 1px rgba(255, 255, 255, 0.2);
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  border-radius: .5rem; }

.dataSample table.sampleTable td,
.dataSample table.sampleTable th {
  padding: 1rem; }

.dataSample table.sampleTable tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.2); }

.dataSample table.sampleTable thead {
  background: rgba(255, 255, 255, 0);
  border: none; }

.dataSample table.sampleTable thead th {
  font-weight: bold;
  color: #FFFFFF;
  border: none; }

.dataSample table.sampleTable thead th:first-child {
  border-left: none;
  border: none; }

.ant-layout-footer {
  background: #333333;
  border-radius: 0 0 .5rem .5rem;
  text-align: center;
  color: white; }
  .ant-layout-footer .copyRights {
    margin: 2rem auto 0; }
  .ant-layout-footer .partnersLg {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 0;
    margin: 0 0 1rem 0;
    list-style: none;
    height: 15rem;
    width: 60%;
    margin: 0 auto; }
    .ant-layout-footer .partnersLg .partnerImg {
      padding: .5rem;
      width: 19.5%;
      height: 15rem;
      margin: 1rem .5% 0 0;
      line-height: 15rem;
      color: white;
      font-weight: bold;
      font-size: 3rem;
      text-align: center; }
      .ant-layout-footer .partnersLg .partnerImg a img {
        max-height: 12rem;
        max-width: 75%; }
      .ant-layout-footer .partnersLg .partnerImg:last-child {
        margin-right: 0; }

.leaflet-control.info {
  padding: .8rem 1rem;
  font-size: 1.2rem;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: .5rem; }

.leaflet-control.info h4 {
  margin: 0 0 .5rem;
  color: #777; }

.leaflet-control.legend {
  text-align: left;
  line-height: 1.8rem;
  color: #555; }

.leaflet-control.legend i {
  width: 1.8rem;
  height: 1.8rem;
  float: left;
  margin-right: .8rem;
  opacity: 0.7; }

.leaflet-control.legend .circle {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-top: 0.35rem; }

.swr-loader {
  text-align: center;
  margin: 2rem 0;
  padding: 3rem 5rem; }

/*********** data presentation **************/
.map--front {
  box-shadow: 5px 5px 1px rgba(255, 255, 255, 0.2);
  border-radius: .5rem 0 0 .5rem;
  height: 40vh;
  border-top: 0.2rem solid rgba(40, 180, 133, 0.3);
  border-left: 0.2rem solid rgba(40, 180, 133, 0.3);
  border-bottom: 0.2rem solid rgba(40, 180, 133, 0.3); }

.map--info {
  box-shadow: 5px 5px 1px rgba(255, 255, 255, 0.2);
  border-top: 0.2rem solid rgba(40, 180, 133, 0.3);
  border-right: 0.2rem solid rgba(40, 180, 133, 0.3);
  border-bottom: 0.2rem solid rgba(40, 180, 133, 0.3);
  color: rgba(0, 21, 41, 0.7);
  text-align: left;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2rem 2.5rem;
  border-radius: 0 .5rem .5rem 0;
  height: 40vh;
  overflow-y: scroll; }
  .map--info span {
    font-weight: 700; }
  .map--info ul {
    margin-top: 2rem;
    padding: 0 1.5rem; }

.statistic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding: 2rem;
  text-align: center;
  color: #28b485; }
  .dataDark .statistic {
    color: white; }
  .statistic .statistic-number {
    font-weight: 700;
    font-size: 5rem;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem; }
    .dataDark .statistic .statistic-number {
      border: 0.3rem solid white; }
    .dataLight .statistic .statistic-number {
      border: 0.3rem solid #28b485; }
  .statistic .statistic-desc {
    font-size: 2rem; }

.card {
  border-radius: .3rem .3rem 1rem .3rem;
  padding: 1.5rem 1rem;
  margin: 2rem auto;
  text-align: center;
  min-height: 91%; }
  .dataLight .card {
    background-color: rgba(40, 180, 133, 0.1);
    border: 0.1rem solid white; }
    .dataLight .card h3 {
      text-shadow: 2px 2px 0 white; }
  .dataDark .card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.1rem solid #28b485;
    color: white; }
    .dataDark .card h3 {
      text-shadow: 2px 2px 0 #28b485; }
  .card .vis {
    height: 25rem;
    padding: 0 .5rem; }
  .card p {
    border-top: 0.1rem solid #28b485;
    margin-top: 1rem;
    padding: 2rem 2rem 0 2rem; }
    .dataDark .card p {
      border-top: 0.1rem solid white; }
